#PALETA_DE_COLORES {
  color: #839585 #B1AB99 #4C4637 #E4E2DD;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
  color:#ffffff;
  text-transform: lowercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.3;
}

h2 {
  color: #fff;
  text-transform: none;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 60px;
  font-weight: 500;
  line-height: 1;
}
h3 {
  text-transform: lowercase;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 600;
  line-height: 45px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 600;
  line-height: 35px;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
}
p {
  color: #000000;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}
a {
  color: #7171ff;
  text-decoration: none;
  transition: color .4s;
}
a:hover {
  color: rgba(255, 89, 0, 0.66);
}
ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}
li {
  margin-bottom: 10px;
}

body {
  color: #fff;
  background-color: #000;
  font-family: Gantari, sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 20px;
  
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  position: fixed;
  width: 100%;
  height: 90px;
  padding: 30px;
  z-index: 9999;
}

img{
  height: 55px;
  width: 55px;
  margin: 10px;
  transition: 300ms ease;
  
  border-radius: 3px;
}
img:hover{
  transform: translateX(0.2rem);
  cursor: pointer;
}


/* Header styles */
section {
  padding: 40px;
  min-height: 100vh;
  background-color: #000000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 160px;
  padding-bottom: 160px;
  display: flex;
}
nav {
  letter-spacing: 0.050em;
  font-size: 0.65em;
  text-shadow: 1px 1px hsla(25, 82%, 59%, 0.524);
}
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  
  order: 2;
  display: flex;
  text-transform: lowercase;

}
.nav-links li {
  margin-right: 20px;
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
.nav-links a {
  color: white;
  text-decoration: none;
  
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}
.nav-links a:hover {
  color: #8dbd92;
  transition: color 0.3s ease-in-out;
}

.top-menu-wrapper {
  z-index: 88;
  max-width: 1400px;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}
.menu-container-toggle{
  display: block;
  z-index: 555;
  max-width: 1400px;
  justify-content: space-around;
}
.color-input {
  -ms-flex-item-align: start;
  align-self: flex-start;
  text-align: center;
  position: relative;
  z-index: 2;
}

/* section Hero section */

.hero-content {
  max-width: 900px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.hero-section {
  min-height: 100vh;
  background-color: #000000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 160px;
  padding-bottom: 160px;
  display: flex;
}


.artist-container {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}
.artist {
  padding: 20px;
  margin: 20px;
  background: #f5f7fa;
  color: #000;
  
  text-align: center;
  overflow: hidden;
  width: 100%;
  align-content: start;
  transition: all 1s ;
}
.artist:hover{
  margin: 30px;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(255, 172, 94, 0.761);
-moz-box-shadow: 0px 0px 13px 2px rgba(255, 172, 94, 0.761);
box-shadow: 0px 0px 13px 2px rgba(255, 172, 94, 0.761);
}
.top-songs{
  display: flex;
  background-color: #000000;
  padding-bottom: 0;
  z-index: 99999;
  transition: all 6s ease-in;
}
#top-songs-title:hover{
  color: #000000;
  text-transform: lowercase;
  text-shadow: 0 -1px #ffb855, 5px 0 #ffb855, 0 1px #ffb855, -1px 0 #ffb855;
  
  font-weight: 700;
  line-height: 1.1;
  cursor: pointer;
}
.artist img {
  height: 225px;
  width: 225px;
}
.artist img:hover{
  height: 235px;
  width: 235px;
  
}
.artist h3 {
  margin-bottom:  10px;
  font-size: 1.5rem;
}
.artist p {
  margin-bottom: 10px;
  color:#000000
}


button.btn {
  cursor: pointer;

  background-color: #34495e;
  color: #ffffff;
  font-size: 1.25rem;

  width: 100%;
  height: 42px;
  padding: 0 2rem;

  border: none;

  border-radius: 21px;
  transition: color 0.5s;
}

button.btn:hover {
  background-color: #ff7028;
}

/* */

.hero-content {
  max-width: 800px;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.flex-horizontal-centered {
  justify-content: center;
  align-items: center;
  display: flex;
}

.big-hero-text {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 100px;
  line-height: 1;
}

.stroke-outline-text {
  color: #000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

.wrapper-centered {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-animation-wrapper {
  z-index: 5;
  background-color: #e7dbcf;
  border-left: 10px #ff6e00;
  border-right: 10px #ff6e00;
  margin-bottom: 15px;
  padding-top: 15px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.text-animation-wrapper.first {
  background-color: #f8f8f8;
  margin-bottom: 0;
  padding-top: 100px;
  padding-bottom: 0px;
}

.animation-content-2 {
  white-space: nowrap;
  flex-direction: row;
  align-items: center;
  display: flex;
}

.text-animation {
  color: #000;
  text-transform: lowercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 8vw;
  line-height: 1;
}

.point-dot {
  width: 15px;
  height: 15px;
  background-color: #000;
  border-radius: 100%;
  margin-left: 20px;
  margin-right: 20px;
}



.text-scroll-section {
  background-color: #000;
  padding-top: 0;
  padding-bottom: 140px;
  position: relative;
  overflow: hidden;
}
.scroll-wrapper {
  grid-column-gap: 40em;
  align-items: center;
  display: flex;
}

.scroll-wrapper.second {
  margin-top: 0;
}

.h1-heading {
  color: #fff;
  text-transform: lowercase;
  margin-top: 10px;
}

.h1-heading.no-wrap {
  white-space: nowrap;
  font-size: 65px;
}

.white-outline {
  color: #000;
  text-transform: lowercase;
  text-shadow: 0 -1px #fff, 1px 0 #fff, 0 1px #fff, -1px 0 #fff;
  font-family: Gantari, sans-serif;
  font-size: 65px;
  font-weight: 700;
  line-height: 1.1;
}


.h1-heading-scroll {
  color: #fff;
  text-transform: lowercase;
  white-space: nowrap;
  margin-top: 10px;
  font-size: 65px;
}



  /* footer go up */
footer {
  justify-content: space-around;
  align-items: center;
  display: flex;
  background: #000;
  color: #E4E2DD;
  height: 50vh;
  padding: 45px 90px;
}

  /* button go up */
#btn-ir-arriba {
  display: flexbox;
  cursor: pointer;

  position: fixed;
  bottom: 20px;
  right: 20px;

  background: hsl(0, 100%, 97%);
  color: rgb(0, 0, 0);
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border: none;

  box-shadow: 0px 12px 7px rgba(0, 0, 0, .1);
  transition: 600ms ease;
}

#btn-ir-arriba:hover {
  background: hsla(25, 82%, 59%, 0.524);
  transform: translateY(-0.5rem);
}

#btn-ir-arriba svg {
  width: 25px;
  fill: none;
  stroke: rgb(0, 0, 0);
  stroke-width: 3px;
}